<!-- {{- if .Site.Params.busuanzi.enable -}}
<script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>
<meta name="referrer" content="no-referrer-when-downgrade">
{{- end -}} -->

<script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>

<script>
    $(document).ready(function () {
        var int = setInterval(fixCount, 100);
        var busuanziSiteOffset = parseInt(10000);
        function fixCount() {
            if ($("#busuanzi_container_site_uv").css("display") != "none") {
                clearInterval(int);
                $("#busuanzi_value_site_uv").html(parseInt($("#busuanzi_value_site_uv").html()) + busuanziSiteOffset);
            }
        }
    });
</script>

<p>

    <span class="powered-by post-meta-item" id="busuanzi_container_site_pv" style="display: inline;">
        <span class="post-meta-item-icon">
            <i class="fa fa-eye"></i>
        </span>
        <span class="site-pv" title="总访问量">
            <span id="busuanzi_value_site_pv">108036</span>
        </span>
    </span>
</p>